<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Duplicate Question Detection</title>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<form>
    <h2>Input question 1: </h2>
    <input type="text" id="ques1">
    <h2>Input question 2: </h2>
    <input type="text" id="ques2">
    <br><br>
    <button type="button" id="submit">Submit</button>
</form>
<h2 id="result"></h2>
<div id="dvTable"></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script type="text/javascript" src="static/formSubmit.js"></script>

</body>
</html>